School_Website/School_Website/Connected Services/SchoolService/NSNPService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55383/NSNPService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/School_Service" />
  <xs:element name="LoginEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginEntityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/School_Service" minOccurs="0" name="school" nillable="true" type="q1:ourEntity" />
        <xs:element minOccurs="0" name="Level" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterEntityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditSchool">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/School_Service" minOccurs="0" name="school" nillable="true" type="q2:ourEntity" />
        <xs:element minOccurs="0" name="AreaNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="provNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OldPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditSchoolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditSchoolResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchool">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchoolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/School_Service" minOccurs="0" name="GetSchoolResult" nillable="true" type="q3:ourEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProvince">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProvinceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/School_Service" minOccurs="0" name="GetProvinceResult" nillable="true" type="q4:ourProvincial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExtendedDistrictReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="P_No" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="districtNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="areaNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EMIS" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="year" type="xs:int" />
        <xs:element minOccurs="0" name="month" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExtendedDistrictReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/School_Service" minOccurs="0" name="ExtendedDistrictReportResult" nillable="true" type="q5:ArrayOfTempReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditProvince">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/School_Service" minOccurs="0" name="province" nillable="true" type="q6:ourProvincial" />
        <xs:element minOccurs="0" name="oldPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditProvinceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditProvinceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLevel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLevelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLevelResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEMIS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEMISResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEMISResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSchoolReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/School_Service" minOccurs="0" name="report" nillable="true" type="q7:SchoolReport" />
        <xs:element minOccurs="0" name="rEMIS" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/School_Service" minOccurs="0" name="file" nillable="true" type="q8:FileInfos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSchoolReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSchoolReportResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchoolReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchoolReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/School_Service" minOccurs="0" name="GetSchoolReportResult" nillable="true" type="q9:SchoolReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditScholReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/School_Service" minOccurs="0" name="report" nillable="true" type="q10:SchoolReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditScholReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditScholReportResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSchoolReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ReportID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSchoolReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSchoolReportResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchoolReports">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EMIS" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Sortby" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchoolReportsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/School_Service" minOccurs="0" name="GetSchoolReportsResult" nillable="true" type="q11:ArrayOfSchoolReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EMIS" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/School_Service" minOccurs="0" name="GetFileInformationResult" nillable="true" type="q12:FileInfos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchoolReportsByAD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EMIS" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sort" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchoolReportsByADResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/School_Service" minOccurs="0" name="GetSchoolReportsByADResult" nillable="true" type="q13:ArrayOfSchoolReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArea">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAreaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/School_Service" minOccurs="0" name="GetAreaResult" nillable="true" type="q14:ourArea" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditArea">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/School_Service" minOccurs="0" name="area" nillable="true" type="q15:ourArea" />
        <xs:element minOccurs="0" name="D_No" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oldPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditAreaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditAreaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistrict">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistrictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/School_Service" minOccurs="0" name="GetDistrictResult" nillable="true" type="q16:ourDistrict" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDistrict">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/School_Service" minOccurs="0" name="district" nillable="true" type="q17:ourDistrict" />
        <xs:element minOccurs="0" name="P_No" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oldPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDistrictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditDistrictResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAreaReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Month" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Year" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAreaReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/School_Service" minOccurs="0" name="GetAreaReportResult" nillable="true" type="q18:AreaReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAreaReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/School_Service" minOccurs="0" name="report" nillable="true" type="q19:AreaReport" />
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAreaReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAreaReportResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchools">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchoolsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/School_Service" minOccurs="0" name="GetSchoolsResult" nillable="true" type="q20:ArrayOfSchool" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistrictsForArea">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistrictsForAreaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/School_Service" minOccurs="0" name="GetDistrictsForAreaResult" nillable="true" type="q21:ArrayOfourDistrict" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAreasForSchool">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAreasForSchoolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/School_Service" minOccurs="0" name="GetAreasForSchoolResult" nillable="true" type="q22:ArrayOfourArea" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateAreaReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="month" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="year" type="xs:int" />
        <xs:element minOccurs="0" name="sort" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateAreaReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/School_Service" minOccurs="0" name="GenerateAreaReportResult" nillable="true" type="q23:SchoolReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateDistrictReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="month" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Year" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateDistrictReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/School_Service" minOccurs="0" name="GenerateDistrictReportResult" nillable="true" type="q24:ArrayOfTempReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyReportAuth">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reportID" type="xs:int" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="level" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyReportAuthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifyReportAuthResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSchoolMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/School_Service" minOccurs="0" name="message" nillable="true" type="q25:SchoolMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSchoolMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSchoolMessageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAreaMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/School_Service" minOccurs="0" name="message" nillable="true" type="q26:AreaMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAreaMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAreaMessageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteMessageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchoolMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchoolMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/School_Service" minOccurs="0" name="GetSchoolMessagesResult" nillable="true" type="q27:ArrayOfSchoolMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAreaMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAreaMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/School_Service" minOccurs="0" name="GetAreaMessagesResult" nillable="true" type="q28:ArrayOfAreaMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistrictName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistrictNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDistrictNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SortedSchoolSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Reports" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SortedSchoolSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/School_Service" minOccurs="0" name="SortedSchoolSummaryResult" nillable="true" type="q29:SchoolReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAreas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAreasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/School_Service" minOccurs="0" name="GetAreasResult" nillable="true" type="q30:ArrayOfAreaOffice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAreaNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAreaNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAreaNumberResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayDistrictName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayDistrictNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DisplayDistrictNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateDistrictQuarterReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quarter" type="xs:int" />
        <xs:element minOccurs="0" name="year" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateDistrictQuarterReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/School_Service" minOccurs="0" name="GenerateDistrictQuarterReportResult" nillable="true" type="q31:ArrayOfTempReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExtendedQuarterReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="P_No" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="districtNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="areaNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EMIS" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quarter" type="xs:int" />
        <xs:element minOccurs="0" name="year" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExtendedQuarterReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/School_Service" minOccurs="0" name="ExtendedQuarterReportResult" nillable="true" type="q32:ArrayOfTempReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectSchool">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EMIS" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectSchoolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DisconnectSchoolResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectArea">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AreaNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectAreaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DisconnectAreaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCircuitsByDistricts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="districtNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCircuitsByDistrictsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/School_Service" minOccurs="0" name="GetCircuitsByDistrictsResult" nillable="true" type="q33:ArrayOfourArea" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCicuitsByProvince">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provincialNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCicuitsByProvinceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/School_Service" minOccurs="0" name="GetCicuitsByProvinceResult" nillable="true" type="q34:ArrayOfourArea" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistrictsByProvince">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provincialNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistrictsByProvinceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/School_Service" minOccurs="0" name="GetDistrictsByProvinceResult" nillable="true" type="q35:ArrayOfourDistrict" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchoolsByCircuit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="areaNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchoolsByCircuitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/School_Service" minOccurs="0" name="GetSchoolsByCircuitResult" nillable="true" type="q36:ArrayOfourEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProvinces">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProvincesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/School_Service" minOccurs="0" name="GetAllProvincesResult" nillable="true" type="q37:ArrayOfourProvincial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProvinceByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="P_No" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProvinceByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/School_Service" minOccurs="0" name="GetProvinceByIDResult" nillable="true" type="q38:ourProvincial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="metadata" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogDataResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestFunction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestFunctionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestFunctionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>